:root {
  --global--Color--100: #151515;
  --global--Color--200: #6a6e73;
  --global--Color--300: #3c3f42;
  --global--Color--400: #8a8d90;
  --global--Color--light-100: #fff;
  --global--Color--light-200: #f0f0f0;
  --global--Color--light-300: #d2d2d2;
  --global--Color--dark-100: #151515;
  --global--Color--dark-200: #6a6e73;

  --global--primary-color--100: #06c;
  --global--primary-color--200: #004080;
  --global--primary-color--light-100: #73bcf7;
  --global--primary-color--dark-100: #06c;

  --global--link--Color: #06c;
  --global--link--Color--hover: #004080;
  --global--link--Color--light: #2b9af3;
  --global--link--Color--light--hover: #73bcf7;
  --global--link--Color--dark: #06c;
  --global--link--Color--dark--hover: #004080;
  --global--link--Color--visited: #40199a;
  --global--link--TextDecoration: none;
  --global--link--TextDecoration--hover: underline;

  --global--BackgroundColor--100: #fff;
  --global--BackgroundColor--200: #f0f0f0;
  --global--BackgroundColor--light-100: #fff;
  --global--BackgroundColor--light-200: #fafafa;
  --global--BackgroundColor--light-300: #f0f0f0;
  --global--BackgroundColor--dark-100: #151515;
  --global--BackgroundColor--dark-200: #3c3f42;
  --global--BackgroundColor--dark-300: #212427;
  --global--BackgroundColor--dark-400: #4f5255;
  --global--BackgroundColor--dark-transparent-100: rgba(3, 3, 3, 0.62);
  --global--BackgroundColor--dark-transparent-200: rgba(3, 3, 3, 0.32);

  --global--BorderWidth--sm: 1px;
  --global--BorderWidth--md: 2px;
  --global--BorderWidth--lg: 3px;
  --global--BorderWidth--xl: 4px;
  --global--BorderColor--100: #d2d2d2;
  --global--BorderColor--200: #8a8d90;
  --global--BorderColor--300: #f0f0f0;
  --global--BorderColor--dark-100: #d2d2d2;
  --global--BorderColor--light-100: #b8bbbe;
  --global--BorderRadius--sm: 3px;
  --global--BorderRadius--lg: 30em;

  --global--FontSize--4xl: 2.25rem;
  --global--FontSize--3xl: 1.75rem;
  --global--FontSize--2xl: 1.5rem;
  --global--FontSize--xl: 1.25rem;
  --global--FontSize--lg: 1.125rem;
  --global--FontSize--md: 1rem;
  --global--FontSize--sm: 0.875rem;
  --global--FontSize--xs: 0.75rem;

  --global--FontWeight--light: 300;
  --global--FontWeight--normal: 400;
  --global--FontWeight--semi-bold: 700;
  --global--FontWeight--overpass--semi-bold: 500;
  --global--FontWeight--bold: 700;
  --global--FontWeight--overpass--bold: 600;

  --global--LineHeight--sm: 1.3;
  --global--LineHeight--md: 1.5;

  --global--icon--Color--light: #6a6e73;
  --global--icon--Color--dark: #151515;
  --global--icon--FontSize--sm: 0.625rem;
  --global--icon--FontSize--md: 1.125rem;
  --global--icon--FontSize--lg: 1.5rem;
  --global--icon--FontSize--xl: 3.375rem;

  --global--FontFamily--sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --global--spacer--xs: 0.25rem;
  --global--spacer--sm: 0.5rem;
  --global--spacer--md: 1rem;
  --global--spacer--lg: 1.5rem;
  --global--spacer--xl: 2rem;
  --global--spacer--2xl: 3rem;
  --global--spacer--3xl: 4rem;
  --global--spacer--4xl: 5rem;
  --global--spacer--form-element: 0.375rem;

  --global--BoxShadow--sm: 0 0.0625rem 0.125rem 0 rgba(3, 3, 3, 0.12), 0 0 0.125rem 0 rgba(3, 3, 3, 0.06);
  --global--BoxShadow--sm-top: 0 -0.125rem 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
  --global--BoxShadow--sm-right: 0.125rem 0 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
  --global--BoxShadow--sm-bottom: 0 0.125rem 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
  --global--BoxShadow--sm-left: -0.125rem 0 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
  --global--BoxShadow--md: 0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12), 0 0 0.25rem 0 rgba(3, 3, 3, 0.06);
  --global--BoxShadow--md-top: 0 -0.5rem 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--md-right: 0.5rem 0 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--md-bottom: 0 0.5rem 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--md-left: -0.5rem 0 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--lg: 0 0.5rem 1rem 0 rgba(3, 3, 3, 0.16), 0 0 0.375rem 0 rgba(3, 3, 3, 0.08);
  --global--BoxShadow--lg-top: 0 -0.75rem 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--lg-right: 0.75rem 0 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--lg-bottom: 0 0.75rem 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--lg-left: -0.75rem 0 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
  --global--BoxShadow--xl: 0 1rem 2rem 0 rgba(3, 3, 3, 0.16), 0 0 0.5rem 0 rgba(3, 3, 3, 0.1);
  --global--BoxShadow--xl-top: 0 -1rem 1rem -0.5rem rgba(3, 3, 3, 0.2);
  --global--BoxShadow--xl-right: 1rem 0 1rem -0.5rem rgba(3, 3, 3, 0.2);
  --global--BoxShadow--xl-bottom: 0 1rem 1rem -0.5rem rgba(3, 3, 3, 0.2);
  --global--BoxShadow--xl-left: -1rem 0 1rem -0.5rem rgba(3, 3, 3, 0.2);
  --global--BoxShadow--inset: inset 0 0 0.625rem 0 rgba(3, 3, 3, 0.25);
}
