@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('../fonts/fabric-icons-f775bdb8.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--Blocked2:before { content: "\ECE4"; }
.ms-Icon--Cancel:before { content: "\E711"; }
.ms-Icon--CheckMark:before { content: "\E73E"; }
.ms-Icon--Completed:before { content: "\E930"; }
.ms-Icon--ErrorBadge:before { content: "\EA39"; }
.ms-Icon--Info:before { content: "\E946"; }
.ms-Icon--Warning:before { content: "\E7BA"; }
